table{
    position: relative;
    max-height: 800px;

    thead{
        position: sticky !important;
        top: -2px;
        background-color: honeydew;
    }

    .bg-green{
        background-color: rgb(108, 255, 108) !important;
    }

    td{
        text-align: right;
    }

    th,
    td:nth-child(1){
        text-align: center;
    }

    td:nth-child(2){
        text-align: left;
    }
}